input, textarea{
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 16px;
    padding: 18px;
    border: 1px solid #E3E3E3;
  }
  
  a{
    text-decoration: none;
  }
  
  body{
    background-color: #f8f8ff;
  }
  
  .top{
    width: 100%;
    height: 80px;
    background-color:#5361E4;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    align-items: center;
  }    
  
  .nav{
    display: flex;
    gap: 2rem;
  }
  
  .logo img{
    margin-left: 4rem;
  }
  
  .nav a{
    font-size: 18px;
    color: #fff;
  }
  
  .sel_btn{
    display: flex;
    gap: 2rem;
  }
  
  #lang{
    background-color: #5361E4;
    color: #fff;
    border: none;
    font-size: 18px;
  }
  
  .btn{
    width: 113px;
    height: 46px;
    background-color: #fff;
    color: #5361E4;
    border-radius: 12px;
    border: none;
  }